UpdateLog.htm
UpgradeLog.htm

bin
bin/*

Debug
Debug/*

Backup
Backup/*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
*.json

*.vcproj
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/.vs/**
