UpdateLog.htm
UpgradeLog.htm

.vs/**

bin/**

Debug/**
!Debug/*.cpp
!Debug/*.h

Backup/**

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio dependancy
*.vcxproj
*.vcxproj.filters
*.vsxproj.user
*.sln
